.story_avatars {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    overflow-x: auto;
    padding: 10px;
    background-color: #070000;
  }
  
  .story_avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
  }
  
  .story_avatar span {
    margin-top: 5px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  